# macOS
.DS_Store

# Xcode user-specific state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode build output
build/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/xcode/xcuserdata/

# CocoaPods (not currently used)
Pods/

# Carthage (not currently used)
Carthage/Build/

# fastlane (not currently used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
